@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing: border-box;


}
body {
    
font-family: "Roboto", sans-serif;
font-size: 18px;
background: rgb(142,79,242);

background: linear-gradient(90deg, rgba(142,79,242,1) 45%, rgba(79,136,242,1) 72%, rgba(19,103,125,1) 100%);
}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  
     
}

.box{
    font-weight: bold;
    text-shadow: 0.1em 0.1em #333;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 500px;
    background-color: #270a04;
	box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);  
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://naylsonnk.github.io/img/imgFundo.png");
    
    
}

.login {
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}

#login{
    
    box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77); 
    padding:6px;
    font-size: 18px;
    border-radius: 5px;
    height: 45px;
    border:none;
    margin:5px;
    color: black;
    
}

#login:focus{
    background: rgb(98, 178, 224);
    outline: none !important;
    
}

#password{
    box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77); 
    padding:6px;
    font-size: 18px;
    border-radius: 5px;
    height: 45px;
    border:none;
    margin:5px;
    color: black;
    
}
#password:focus{
    background: rgb(98, 178, 224);
    outline: none !important;
    
}

.button{
    box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77); 
    border-radius: 5px;
    background-image: linear-gradient(160deg, #8E4FF2 0%, #80D0C7 100%);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 45px;
    border:none;
}



.button:hover{
    
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    

}